@font-face {
	font-family: "Quicksand";
	src: url(fonts/quicksand-v7-latin-regular);
}

@font-face {
    font-family: "Quicksand-500";
    src: url(fonts/quicksand-v7-latin-500.woff);
}

.header img{
	margin-left:-2%;
	float: left;
}

.header h1{
	position: relative;
	font-family: Quicksand-500;
	line-height:450%;
	margin-left: 170px;
}

h1 {
	font-family: Quicksand-500;
}

p {
	margin-top: 30px;
	font-family: Quicksand;
}