@font-face {
	font-family: "Quicksand";
	src: url(fonts/quicksand-v7-latin-regular);
}

img{
	margin-top: 10px;
	margin-left: -100px;
	float: left;
}

.banner {
	padding-top: 70px;
}

.banner h1{
	position: relative;
	text-align: center;
	font-family: Quicksand;
	line-height:300%;
}

.banner h4{
	text-align: center;
	position: relative;
	font-family: Quicksand;
	margin-bottom: 50px;
	/* line-height: 10%; */
}

h1 {
	font-family: Quicksand;
}

p {
	font-family: Quicksand;
}

.buttons-placement button{
	font-family: Quicksand;
}

.buttons-placement {
	padding-left:100px;
}

#body{
	margin-top: 50px;
	padding-left: 30px;
}

#body h3{
	font-family: Quicksand;
	text-align: center;
	padding-bottom: 150px;
}