@font-face {
	font-family: "Quicksand";
	src: url(./Fonts/quicksand-v7-latin-regular.woff);
}

body{
	max-width: 96%;
}

#body{
	display: none;
	margin-left:3%;
	font-family: Quicksand;
	padding-top:7%;
}

/* #body #headers{
	display: none;
}

#body #headers2{
	display: none;
} */

.welcome h5{
	margin-bottom:5%;
}

.welcome h2{
	margin-bottom: 100px;
}