@font-face {
	font-family: "Quicksand";
	src: url(./Fonts/quicksand-v7-latin-regular.woff);
}

body{
	max-width: 96%;
}

#body{
	margin-left:3%;
	font-family: Quicksand;
	padding-top:7%;
}

.welcome h5{
	margin-bottom:5%;
}

.welcome h2{
	margin-bottom: 100px;
}