@font-face {
	font-family: "Quicksand";
	src: url(./Fonts/quicksand-v7-latin-regular.woff);
}

body{
	max-width: 96%;
}

#body{
	display: none;
	margin-left:3%;
	font-family: Quicksand;
	padding-top:7%;
}

#body #headers #locals img{
	width:75px;
	height:80px;
	margin-top:-5%;
	margin-bottom: 4%;
	margin-left: 2px;
	border-radius: 50%;
}

#body #headers #national img{
	width:75px;
	height:80px;
	margin-top:-5%;
	margin-bottom: 4%;
	margin-left: 2px;
	border-radius: 50%;
}

#body #headers #international img{
	width:75px;
	height:80px;
	margin-top:-5%;
	margin-bottom: 4%;
	margin-left: 2px;
	border-radius: 50%;
}

.welcome h5{
	margin-bottom:5%;
}

.welcome h2{
	margin-bottom: 100px;
}