@font-face {
	font-family: "Quicksand";
	src: url(./Fonts/quicksand-v7-latin-regular.woff);
}

#banner {
	background-color:#fff;
	z-index:50;
	margin-left: 20px;
	margin-top: 20px;
	font-family:Quicksand;
	position:fixed;
	top: -20px;
	padding: 20px 20px;
}

#banner a{
	border:none;
	margin-left: 12px;
	background-color:#FFFFFF;
	text-decoration: none;
}

#banner #profile{
	margin-left:40%;
}