@font-face {
	font-family: "Quicksand";
	src: url(./Fonts/quicksand-v7-latin-regular.woff);
}


.signup_well{
	max-width: 94%;
	position:absolute; 
	top:20%; 
	left:15%;  
	margin: -100px 0 0 -150px;
	font-family: Quicksand;
}

.signup_well .well{
	background-color: #FFFFFF;
	border-color: #C38D9E;
	border-width: 3px;
}

.signup_well .label{
	color:black;
}

.signup_well .error{
	color:red;
}

.signup_btn {
	margin-top: 10%;
	margin-left: 190%;
	text-align:center;
	border-color: #41B3A3;
}

.rad_btns{
	margin-left: 10%;
	color:black;
}

.icon{
	position: fixed;
	margin-left: 20%;
	/* margin-left:103%; */
	/* margin-top:-80%; */
}